
# Editors
.vscode/
.idea/

# Local development
.python-version
.envrc
.venv
uv.lock

# Testing
.coverage*
.tox/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info
docs/_build/
dist/
build/
build-check-description/
